<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/invoicedata.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/invoicedata.js"></script>
</head>
<body>
   
  <div class="sidenav">
    <h1 class="pms"><i class="fa fa-plus w3-xlarge"></i> PMS</h1>
    <a class="navlink1" href="http://localhost:3000/"><i class="fa fa-dashboard w3-xlarge" style="color:black;"></i>&nbsp Dashboard</a>
    <div class="w3-dropdown-hover">
      <a class="navlink2"><i class="fa fa-plus-square w3-xlarge" style="color:#E43A3A;"></i>&nbsp Medicine</a>
      <div class="w3-dropdown-content w3-bar-block">
        <a href="http://localhost:3000/add/medicine" class="w3-bar-item w3-button">Add medicine</a>
        <a href="http://localhost:3000/manage/medicine" class="w3-bar-item w3-button">Manage medicines</a>
        <a href="http://localhost:3000/less/stock" class="w3-bar-item w3-button">Less in stock</a>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <a class="navlink7"><i class="fa fa-handshake-o w3-xlarge" style="color:#FF6D0E;"></i>&nbsp Company</a>
      <div class="w3-dropdown-content w3-bar-block">
        <a href="http://localhost:3000/add/company" class="w3-bar-item w3-button">Add company</a>
        <a href="http://localhost:3000/manage/company" class="w3-bar-item w3-button">Manage company</a>
      </div>
    </div>

    <a class="navlink3" href="http://localhost:3000/customers"><i class="fa fa-users w3-xlarge" style="color:#3AB2E4;"></i>&nbsp Customers</a>

    <a class="navlink4" href="http://localhost:3000/cart"><i class="fa fa-shopping-cart w3-xlarge" style="color:black;"></i>&nbsp Cart</a>
    <a class="navlink5" href="http://localhost:3000/salesreport/period"><i class="fa fa-bar-chart w3-xlarge" style="color:#239B56;"></i>&nbsp Sales Report</a>
    <a class="navlink6" href="http://localhost:3000/invoice/search"><i class="fa fa-search w3-xlarge" style="color:#1B18AD;"></i>&nbsp Invoice Search</a>
  </div>

      <div class="main">
      <div class="top">
         <h2 class="dash">INVOICE</h2>
         <div class="logout">
          <button class="lbtn" onclick="return logout();"><i class="fa fa-sign-out"></i>Logout</button>
        </div>
      </div>
      </div>
        <div class="end ">
            <div class="bill scrollable">
                <div class="i2">
                    Invoice #<%=result1[0].order_id%>
                </div>
                <div>
                    <table class="table1">
                        <tr>
                          <th class="t1">Customer name:</th>
                          <td class="t1"><%=result2[0].cus_name%></td>
                          <th class="t1">Customer contact:</th>
                          <td class="t1"><%=result2[0].cus_contact%></td>
                        </tr>
                        <tr>
                          <th class="t1">Mode of payment:</th>
                          <td class="t1"><%=result1[0].mode%></td>
                          <th class="t1">Date:</th>
                          <td class="t1"><%=result1[0].order_date%></td>
                        </tr>
                      </table>
                </div>
        
                <div>
                  <table id="table2">
                    <tr class="first">
                      <th>S.No</th>
                      <th>Medicine name</th>
                      <th>Quantity</th>
                      <th>Price per unit</th>
                      <th>Total</th>
                    </tr>
                    <% for(let r1 of result3) { %>
                    <% for(let r2 of results) { %>
                    <% if(r1.med_id==r2.med_id) { %>   
                    <tr>
                      <td class="count"></td>
                      <td><%=r2.med_name%></td>
                      <td><%=r1.qty_sold%></td>
                      <td><%=r2.med_price%></td>
                      <td><%=r1.qty_sold*r2.med_price%></td>
                    </tr>
                  <% } %> 
                  <% } %> 
                  <% } %> 
                    <tr>
                      <td colspan="4" class="grand">Grand total:</td>
                      <td><%=result1[0].discount+result1[0].amount_paid%></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="grand">Discount:</td>
                      <td><%=result1[0].discount%></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="grand">Net amount:</td>
                      <td style="font-weight: bold;"><%=result1[0].amount_paid%></td>
                    </tr>
                  </table>
                </div>

                <div>
                  <button onclick="window.print()"class="pbutton"><i class="fa fa-print w3-xlarge"></i></button>
                </div>
          </div>
        </div>       
        <div class="copyright">&copy 2020 PMS <span class="t5">PHARMACY MANAGEMENT SYSTEM</span></div> 
</body>
</html>